<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css?anything=stopcache2" />
    <title>Please rate the book</title>
  </head>
  <body>
    <div class="container">
      <h3>Hello! Thank you for visiting my book recommender site.</h3>
      <a href='/sign-in'><button>Enter</button></a>
    </div>
    <div class="container_note">
      <small>This project is made for experimental use only. All data and information
        will not be shared with any other entities. The goal is to implement machine learning
        algorithms to generate user-specific book recommendations.
      </small>
      <br>
      <br>
      <small>If you have any questions or concerns, feel free to reach out to <strong>Zach Alexander</strong>
        at <a href = "mailto: alexander.d.zachary@gmail.com">alexander.d.zachary@gmail.com.</a>
      </small>
    </div>

  </body>
</html>