<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/book-desc.css?anything=stopcache26" />
    <title>Search Results</title>
  </head>
  <body>
    <div class="nav_top">
      <a href="/search"><button class="btn_neg">Back to search results</button></a>
  </div>
{% block main %}
  <div class="container">
    <h3 class="card-header">{{ book.title }}</h3>

    {% if book.id %} 
    <form class="rating_form" action="/new-rating" method="POST">
      <select id="isbn10" class="isbn10" name="isbn10" type="hidden">
          <option value="{{book.isbn}}">{{book.isbn}}</option>
      </select>
      <select id="bookid" class="bookid" name="bookid" type="hidden">
        <option value="{{book.id}}">{{book.id}}</option>
    </select>
      <div class="form-group">
        <h4>Please rate the book</h4>
        <input type="radio" name="rating" value=1 /> 1
        <input type="radio" name="rating" value=2 /> 2
        <input type="radio" name="rating" value=3 /> 3
        <input type="radio" name="rating" value=4 /> 4
        <input type="radio" name="rating" value=5 /> 5
      </div>
      <input type="submit" value="Submit" class="btn" />
    </form>
    {% else %}
    <h5>Sorry, this book does not have available ISBN numbers and therefore cannot be rated.</h5>
    {% endif %}

    <div class="card-body">
    </div><br>
    {% if book.image_url %}
    <img id="imgDetails" src="{{ book.image_url }}" title="{{ book.title }}"
    alt="{{ book.title }}"/>
    {% else %}
    <img width="60%" height="70%" src="../static/default-book-cover.jpg" title="{{ book.title }}"
    alt="{{ book.title }}"/>
    {% endif %}

    {% if book.description %}
    <div class="card-text description">
      {{book.description | safe}}
    </div>
    {% endif %}
    <ul class="list-group list-group-flush">Author:<br>
        <li class="list-group-item">{{ book.authors.author.name }}</li><br>
    </ul>
    <div class="card-body">
      {% if book.publication_year %}
        <span class="card-link">Published: {{ book.publication_year }}</span>
      {% endif %}
    </div>
  </div>
{% endblock %}

<script>
  function hide(){
    var bookid = document.getElementById('bookid');
    var isbn10 = document.getElementById('isbn10');
    bookid.style.visibility = 'hidden';
    isbn10.style.visibility = 'hidden';
  }
  hide()
</script>