*, html {
	font-family: 'Roboto', 'Arial', sans-serif;
}

a {
    color: #333 !important;
}


.container-nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.profile_header {
    font-weight: 400;
}

.container-header {
    margin: 2em auto;
    max-width: 500px;
}

#header-card {
    max-width: 800px;
    padding: 2em;
    margin: 2em auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-around {
    margin: 4em auto;
    max-width: 800px;
}

.wrapper {
    margin: 1em;
}

.grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 2em auto;
}

@media screen and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr;
        max-width: 1000px;
        margin: auto;
    }
  }

#book {
    justify-self: center;
    margin-bottom: 2em;
}

.card-body {
    text-align: center;
}

.card-header.text {
    text-align: center;
    font-size: 0.85em;
    font-weight: 700;
    margin-bottom: 1em;
}

.card-text {
    font-size: 0.75em;
}

.btn_neg {
	padding: 0.5em 1em;
    font-weight: 700;
	border: 2px solid #333;
	color: #333;
	background: transparent;
}

.btn_neg:hover {
    cursor: pointer;
}

#bookcontainer {
    margin-top: 2em;
    max-width: 800px;
}

#author {
    font-size: 0.75em;
}

h5.search_header {
    margin-top: 2em !important;
}

.container {
    margin-top: 2em !important;
}

.intro-text {
    font-size: 0.85em;
}