*, html {
	font-family: 'Roboto', 'Arial', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* Base Page */

.top {
	margin-bottom: 1em;
}

#loading {
	max-width: 100px;
	max-height: 100px;
}
.container {
	text-align: center;
	max-width: 400px;
	color: #333;
	flex-direction: column;

}
.container_note {
	text-align: center;
	max-width: 400px;
	color: #333;
	flex-direction: column;
	margin-top: 1.5em;
}

button {
    padding: 0.5em 1em;
    background: steelblue;
    font-weight: bold;
    border: 0;
    color: #333;
}

button:hover {
	cursor: pointer;
}

/* Sign-in and Register Page */

.container_signin {
	padding: 2em 2em 3em 2em;
	border: 4px solid #bbb;
	align-items: left;
}

.container_signin {
	align-items: left;
}

h5 {
	margin: 0.2em 0;
}

.form-group {
	margin: 1.5em 0;
}



.message {
	font-size: 12px;
	font-weight: 600;
	max-width: 300px;
    background: #fff;
	padding: 1em;
	border: 2px solid indianred;
	color: indianred;
}

input {
	padding: 0.5em;
	border: 2px solid #ddd;
    min-width: 80%;
}

.container_forgot {
	text-align: left;
    margin-top: 1em;
    font-size: 0.85em;
}

.container_toregister {
	margin-bottom: 1.5em;
    color: #333;
    font-weight: 600;
    border: 1px solid lightseagreen;
    padding: 0.5em;
}

/* Search Page */

.welcome {
	max-width: 400px;
	text-align: center;
	font-weight: 600;
}

.search_legend {
	font-weight: 600;
	font-size: 0.65em;
}

.search_form {
	margin-top: 2em;
}

.search_field {
	border: 3px solid lightseagreen;
}

.sign_out {
	margin-bottom: 6em;
}

.title_label {
	font-size: 0.75em;
    font-weight: 700;
    color: #555;
}

.author_label {
	font-size: 0.75em;
	font-weight: 700;
    color: #555;
}

/* Sign Out */

.button_container {
	display: flex;
    flex-direction: row;
    margin: 2em auto;
    justify-content: center
}

.button_container input {
	margin-right: 1.5em;
}

.btn_no {
	background: indianred;
	font-weight: 700;
	border: 2px solid indianred;
	color: #fff;
}

.btn_no:hover {
	cursor: pointer;
}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
}

#fullcontainer {
	margin: 1em;
}

#welcomecard {
	margin: 1em;
	border: none !important;
}